header{
  background: url("../Graphic/artificial-grass-inside-banner1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 5px solid black;
  background-position: center;
}

*{
  font-family: "Verdana", Times, sans-serif;
}

img#logo{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}
  
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-bottom: black solid 1px;
}

nav li {
  float: right;
  border-right: 1px solid #bbb;
}

nav a {
  display: block;
  color: white;
	font-size: 80%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	height: 10px;
  width: 60px;
  font-weight: bold;
}

nav a:hover {
  background-color: #111;
}

nav:first-child {
  border-right: none;
}

nav a:active {
  background-color: rgb(60, 240, 155);
}

main{
  background: white;
}

h2{
  color: rgb(3, 57, 73);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h3{
  text-indent: 10px;
  font-size: 130%;
  margin-top: 60px;
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 2px;
}

section#segment1{
  background: #e2e2e2;
  height: 80px; 
  width: 100%;
  margin-bottom: 7px;
  margin-right: 8px;
}

img#totem{
  float: left;
  height: 60px;
  -webkit-filter: invert(100%);
  background:  #63664F;
  border: solid #63664F 10px;
}

div#text1{
  padding: 5px;
  height: 120%;
  margin-left: 80px;
  border-left: solid white 1px;
  text-indent: 10px;
}

p#p1{
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.p3{
  margin: 0px;
  padding-left: 35px;
  text-indent: 50px;  
  text-align: justify;
}

footer{
  background: url("../Graphic/AffordableSprinkler_Homepage_Footer_GrassFade.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60px;
  width: 100%;
  margin-top: 60px;
  border-bottom: 1px solid black;
}